body {
}


.dtlistheaderDS
{
    background-color:#A4D7F8;
    background-repeat:repeat-x;
    height:25px;
    font-family:Verdana;
    font-weight:bold;
    font-size:14px;
    color:#003f6f;
    border:1px solid #0099FF; 
}

.dtlistItemDS
{
	background-color:White;
   
    margin:0px;
    font-family:Verdana;
    text-align:left;
   
    font-size:12px;
    padding-left:0px;
  
    color:#003f6f;
}

.border_lbr
{
    padding:5px;
     border-left:2px solid #0099FF; 
    border-right:2px solid #0099FF; 
     border-bottom:2px solid #0099FF; 
}
.border_rb
{
    padding:5px;
     border-right:2px solid #0099FF; 
     border-bottom:2px solid #0099FF; 
}
.border_b
{
padding:5px;     
border-bottom:2px solid #0099FF; 
}