.outlinemenu{
position: absolute; /*leave this alone*/
display: none; /*leave this alone*/
width: 180px; /*default width of menu*/
border: 1px solid #04513B;
text-align:left;

}

.outlinemenu ul{
list-style-type: none;
margin: 0;
padding: 0;
}

.outlinemenu ul li a{

font: 11px "Arial ", "Trebuchet MS", Verdana, Helvetica, sans-serif;
font-weight:bold;
color:White;
display: block;
width: auto;
padding: 3px 0;
padding-left: 5px;
text-decoration: none;

background-image:url(../images/m.jpg);
}

.outlinemenu ul li a:visited, .outlinemenu ul li a:active{
color:white;
}

.outlinemenu ul li a:hover{
color: #04513B;
background:#84f1d1;
}

/* Holly Hack for IE \*/
* html .outlinemenu li {height: 1%; }
* html .outlinemenu li a { height: 1%; }
/* End */
