<?xml version="1.0"?>
<configuration>
	<appSettings/>
  
	<connectionStrings>

    <!--<add name="CSddedb" connectionString="initial catalog=ddedbweb;data source=13.126.240.173; Connection Timeout=3000; uid=sa;pwd=Super@dm!n#10Sept2020" providerName="System.Data.SqlClient"/>
    <add name="CSonlineexam" connectionString="initial catalog=DDEOnlineExam;data source=13.126.240.173; Connection Timeout=3000; uid=sa;pwd=Super@dm!n#10Sept2020" providerName="System.Data.SqlClient"/>
    <add name="CSddedb2" connectionString="initial catalog=ddedb2web;data source=13.126.240.173; Connection Timeout=3000; uid=sa;pwd=Super@dm!n#10Sept2020" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CSsvsudb" connectionString="initial catalog=SVSUdbweb;data source=13.126.240.173; Connection Timeout=3000; uid=sa;pwd=Super@dm!n#10Sept2020" providerName="System.Data.SqlClient"/>-->

    <!--<add name="CSddedb" connectionString="initial catalog=ddedbweb;data source=(local);Integrated Security=SSPI" />
    <add name="CSddedb1" connectionString="initial catalog=ddedb2;data source=(local);Integrated Security=SSPI"/>-->
		<add name="CSsvsudb" connectionString="initial catalog=svsudb;data source=(local);Integrated Security=SSPI"/>

    <add name="CSddedb" connectionString="initial catalog=ddedbweb;data source=192.168.59.240;uid=sa;pwd=masTer@2009; Connection Timeout=30000" providerName="System.Data.SqlClient" />
    <add name="CSonlineexam" connectionString="initial catalog=DDEOnlineExam;data source=192.168.59.240;uid=sa;pwd=masTer@2009; Connection Timeout=30000" providerName="System.Data.SqlClient" />
    <add name="CSddedb2" connectionString="initial catalog=ddedb2web;data source=192.168.59.240;uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>
    <!--<add name="CSsvsudb" connectionString="initial catalog=SVSUdbweb;data source=192.168.63.66;uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="CSddedb" connectionString="initial  catalog=ddedbweb;data source=192.168.62.254,1446;uid=sa;pwd=svsudde$90; Connection Timeout=3000" providerName="System.Data.SqlClient" />
    <add name="CSddedb2" connectionString="initial catalog=ddedb2web;data source=192.168.62.254,1446;uid=sa;pwd=svsudde$90" providerName="System.Data.SqlClient"/>
    <add name="CSsvsudb" connectionString="initial catalog=SVSUdbweb;data source=192.168.62.254,1446;uid=sa;pwd=svsudde$90" providerName="System.Data.SqlClient"/>-->

    <!--<add name="CSddedb" connectionString="initial catalog=ddedbweb;data source=14.139.238.116;uid=sa;pwd=masTer@2009; Connection Timeout=3000" providerName="System.Data.SqlClient" />-->
    <!--<add name="CSddedb2" connectionString="initial catalog=ddedb2web;data source=14.139.238.116;uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>
		<add name="CSsvsudb" connectionString="initial catalog=SVSUdbweb;data source=14.139.238.116;uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>-->

    <!--<add name="CSddedb" connectionString="initial catalog=ddedbweb;data source=182.74.167.42;uid=sa;pwd=masTer@2009; Connection Timeout=3000" providerName="System.Data.SqlClient" />
    <add name="CSonlineexam" connectionString="initial catalog=DDEOnlineExam;data source=182.74.167.42;uid=sa;pwd=masTer@2009; Connection Timeout=30000" providerName="System.Data.SqlClient" />
    <add name="CSddedb2" connectionString="initial catalog=ddedb2web;data source=182.74.167.42;uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>-->	
    <!--<add name="CSsvsudb" connectionString="initial catalog=SVSUdbweb;data source=182.74.167.42;uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>-->  
    
    <!--<add name="CSddedb" connectionString="initial catalog=ddedbweb;data source=192.168.20.5; Connection Timeout=3000; uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>
    <add name="CSonlineexam" connectionString="initial catalog=DDEOnlineExam;data source=192.168.20.5; Connection Timeout=30000; uid=sa; pwd=masTer@2009" providerName="System.Data.SqlClient" />
    <add name="CSddedb2" connectionString="initial catalog=ddedb2web;data source=192.168.20.5; Connection Timeout=3000; uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>
    <add name="CSsvsudb" connectionString="initial catalog=SVSUdbweb;data source=192.168.20.5; Connection Timeout=3000; uid=sa;pwd=masTer@2009" providerName="System.Data.SqlClient"/>-->
    
	</connectionStrings>

  <location path="FillContFormAutomatically.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FillAdmissionFormAutomatically.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FillAdmissionFormAutomatically2.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadExcel.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SP">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FillIssueSLM Record.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FillExamFormAutomatically.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location> 
  <location path="BarCode.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Report.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ShowCompleteExamReport.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="UploadStudents.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ShowMBAStudents.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DetailsOfMarks.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="css">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
     <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="Admin/adminlogin.aspx" defaultUrl="Admin/Common.aspx"></forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace. -->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  
  </system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
     <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
